# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
build_dist
*.local

# Environment variables & secrets
.env
.env.*
functions/.env
worker/.env

# Temporary dump files & logs
*.txt
*.html
dump.txt
file_dump.txt
temp.txt
functions/out.txt

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
